@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --primary-color: #0a51cc;
  --secondary-color: #3474e6;
  --light-color: #fff;
  --dark-color: #001;
  --gray-clr: #2d2d2d;
  --green-clr: #2ad482;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  font-size: 1.8rem;
  color: var(--light-color);
  background-color: var(--gray-clr);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.header__line {
  width: 10rem;
  height: 5px;
  background-color: var(--green-clr);
}
.content {
  margin: 10rem auto;
  padding: 0 4rem;
  max-width: 130rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: center;
}
.menu-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.menu-img {
  width: 100%;
  height: 20rem;
  display: block;
  border: 2px solid var(--green-clr);
  border-radius: 1rem;
}

.secondary-heading {
  font-size: 2.4rem;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--green-clr);
}

.price {
  color: var(--green-clr);
}

.btn-container {
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: var(--gray-clr);
  color: var(--green-clr);
  border-color: var(--green-clr);
  transition: all 0.3s ease;
  font-family: inherit;
  cursor: pointer;
  text-transform: capitalize;
}

.filter-btn:hover,
.btn-active {
  background-color: var(--green-clr);
  color: var(--light-color);
}

@media (max-width: 56.25em) {
  .content,
  .menu-item {
    grid-template-columns: 1fr;
  }
}
