@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --primary-color: #0a51cc;
  --secondary-color: #3474e6;
  --light-color: #fff;
  --dark-color: #001;
  --gray-clr: #2d2d2d;
  --green-clr: #2ad482;
  --greenshade-clr: #7fe5b4;

  --transition-5s: all 0.5s ease;
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Lora", serif;
  font-size: 1.8rem;
  color: var(--light-color);
  background-color: var(--gray-clr);
  line-height: 1.6;
}

a {
  color: var(--light-color);
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;

  border-radius: 0.4rem;
}

.section-center {
  max-width: 110rem;
  padding: 0 4rem;
  margin: 10rem auto;
  overflow: hidden;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.give-info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--green-clr);
  margin-bottom: 1rem;
}
.give {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.text {
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}
.deadline {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.deadline-content {
  text-align: center;
  padding: 1rem 3rem;
  width: 6rem;
  background-color: var(--green-clr);
  color: var(--light-color);
}

.deadline-content h4 {
  font-size: 4.5rem;
}

.deadline-content span {
  font-size: 2rem;
  text-transform: uppercase;
}
.expire {
  font-size: 2.4rem;
  color: var(--green-clr);
  text-transform: uppercase;
}
